/* Created by: Tim Brady
 * Created on: February 20203
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: rgb(38 0 255);
}
img{
  max-width:600px;
  height: 600px;
}

h1 {
  background-color: rgb(255 0 0);
  color: hsl(0, 0%, 0%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(255 0 0);
}
